<% provide(:title, 'Contact') %> <h1>Log In</h1>

<div class="col-sm-4" style="background-color:white;">
      
</div>

<div class="col-sm-4" style="background-color:white;">
  <div class="Email&Password ">
    <label><b>Email</b></label>
     <br>
    <input type="text" name="emailname" class="form-control" required>
     <br>
    <label><b>Password</b></label>
     <br>
    <input type="password" name="psw" class="form-control" required>
     <br>
    <button type="submit">Login</button>
     <br>
    <p>
     New user?   
     <a href="http://www.railstutorial.org/contact">Sign up now!</a> 
    </p>
    <br>
  </div>
</div>
    
<div class="col-sm-4" style="background-color:white;">
      
</div>